
<div class="about1">
    <div class="text">
     <h2 class="textlett">About Us</h2>
     <p class="textpara">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet a voluptatum tempora, repudiandae cumque odit corporis nulla inventore, nostrum fugiat est! Iusto earum sapiente vero, rem minus velit ratione.</p>
     <div class="logos">
        <img src="/img/insta.jpg" class="logos1">
        <img src="/img/twitter.jpg" class="logos2">
        <img src="/img/gmail.jpg" class="logos3">
        <img src="/img/contact.jpg" class="logos4">
     </div>
     <p>Thank You For Visiting...!!!</p>
    </div>
   
    <div class="imgback">
        <div class="inside">
<img src="/img/backimg.jpg" class="backimg">
</div>
</div>

</div>